@font-face {
    font-family: 'Celestina';
    src: local('Celestina'), url('Celestina.woff2') format('woff2'), url('Celestina.woff') format('woff'), url('Celestina.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
