#grid {
    display: grid;
    margin-right: 15px;
    grid-template-columns: 10% 50% 40%;
    grid-template-rows: 200px 400px 100px;
    grid-gap: 10px;
} 


#navCell{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: seagreen;
}

#headerCell {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: seagreen;
}

#articleCell {
    background-color: seagreen;
}

#asideCell {
    background-color: seagreen;
}

#footerCell {
    background-color: seagreen;
    grid-column-start:1 ;
    grid-column-end: 4;
}