h1, h3, h2
{
    color: blueviolet;
    font-family: Monotype Corsiva;
}
.t1
{
    color: red;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18pt; 
}
.t2
{
    color: yellow;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20pt; 
}
.t3
{
    color: green;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 22pt; 
}
.ret tr{color: blue;}